@import "tailwindcss";
/* manter o root para criar algumas variaveis, usar o outro mesmo(app.css) para a página */
:root {
  --text: #6b6375;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
}
